
@{
    ViewData["Title"] = "Index";
}

<h1>Inserte el número que desee invertir</h1>
<form action="Form/Resultado" method="post">
    <input type="text" name="numero" class="form-control" placeholder="Inserte el numero" /> 
    <br />
    <input type="submit" value="Enviar" class="btn btn-dark" />

</form>

